<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reversi</title>
        <script src="/static/js/vendor/jquery-2.1.1.js"></script>
        <script src="/static/js/vendor/reconnecting-websocket.js"></script>
        <script src="/static/js/vendor/fabric/fabric.js"></script>
        <script src="/static/js/screen.js"></script>
        <script src="/static/js/app.js"></script>
        <script>
            $(function () {
                window.app = new App({
                    canvasId: 'screen',
                    host: location.host,
                    port: '80'
                });
                window.app.run();
            });
        </script>
    </head>
    <body>
        <canvas id="screen" height="600" width="600" style="height: 600px; width: 600px;">
        </canvas>
    </body>
</html>
